<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnCatJwV5Z-PxhgKmspT0sD_V1S2cpoOc</string>
	<key>GCM_SENDER_ID</key>
	<string>670346554189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darserg.Photos</string>
	<key>PROJECT_ID</key>
	<string>photoportfoliodarserg</string>
	<key>STORAGE_BUCKET</key>
	<string>photoportfoliodarserg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670346554189:ios:71da7c1b328e4c294ca504</string>
</dict>
</plist>